<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="IMSContext" connectionString="Data Source=.;Initial Catalog=V2IMSDB;User Id=sa;Password=1qaz@WSX;"/> 
  </connectionStrings>
  <appSettings>
    <!--Bulk Copy Config Start-->
    <!--清空最后一次记录存储过程配置-->
    <add key="BulkInsertPurchaseGoods_ClearProc" value="uspClearGoodsTemp"/>
    <!--批量入库目的表名配置-->
    <add key="BulkInsertPurchaseGoods_DestinationTableName" value="BatchInsertGoodsTemp"/>
    <!--批量入库刷新存储过程配置-->
    <add key="BulkInsertPurchaseGoods_RefreshProc" value="uspSyncGoodses"/>
    <!--Bulk Copy Config End-->
  </appSettings>
  <system.serviceModel>
    <services>    
      <service behaviorConfiguration="customServiceBehavior" name="Vogue2_IMS.DataService.DataService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfiguration"
          contract="Vogue2_IMS.DataService.IDataService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.2.109:7008/DataService" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBindingConfiguration" textEncoding="UTF-8" messageEncoding="Text"
                 maxBufferPoolSize="2147483647" 
                 maxBufferSize="2147483647" 
                 maxReceivedMessageSize="2147483647" 
                 transferMode="Buffered"
                 useDefaultWebProxy="true"
                 openTimeout="00:10:00" 
                 closeTimeout="00:10:00" 
                 allowCookies="false" 
                 bypassProxyOnLocal="false" 
                 receiveTimeout="00:10:00" 
                 sendTimeout="00:10:00"
                                                   >
          <readerQuotas maxArrayLength="2147483647" 
                        maxBytesPerRead="2147483647" 
                        maxDepth="32" 
                        maxNameTableCharCount="2147483647" 
                        maxStringContentLength="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="HttpEnableBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior name="customServiceBehavior">
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <!--<serviceThrottling maxConcurrentCalls="200" maxConcurrentInstances="30" maxConcurrentSessions="100" />
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentInstances="1000" maxConcurrentSessions="4000" />-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>