<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Default.SkinStyle" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!-- local service 1 user local db and service else user web service in config-->
    <add key=" LocalService" value="1"/>   
  </appSettings>
  
  <connectionStrings>
    <add name="IMSContext" connectionString="Data Source=.;Initial Catalog=V2IMSDB;User Id=sa;Password=1qaz@WSX;"/>
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  
  <system.serviceModel>
    <bindings>      
      <basicHttpBinding>
        
        <binding name="BasicHttpBinding_IDataService" textEncoding="UTF-8" messageEncoding="Text"
                 maxBufferPoolSize="2147483647"
                 maxBufferSize="2147483647"
                 maxReceivedMessageSize="2147483647"
                 transferMode="Buffered"
                 useDefaultWebProxy="true"
                 openTimeout="00:10:00"
                 closeTimeout="00:10:00"
                 allowCookies="false"
                 bypassProxyOnLocal="false"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:10:00"
                                                   >
          <readerQuotas maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647"
                        maxDepth="32"
                        maxNameTableCharCount="2147483647"
                        maxStringContentLength="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>

        <binding name="basicHttpBindingConfiguration" textEncoding="UTF-8" messageEncoding="Text"
               maxBufferPoolSize="2147483647"
               maxBufferSize="2147483647"
               maxReceivedMessageSize="2147483647"
               transferMode="Buffered"
               useDefaultWebProxy="true"
               openTimeout="00:10:00"
               closeTimeout="00:10:00"
               allowCookies="false"
               bypassProxyOnLocal="false"
               receiveTimeout="00:10:00"
               sendTimeout="00:10:00"
                                                   >
          <readerQuotas maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647"
                        maxDepth="32"
                        maxNameTableCharCount="2147483647"
                        maxStringContentLength="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>

      </basicHttpBinding>      
    </bindings>
    
    <client>
      <endpoint address="http://127.0.0.1:7008/DataService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataService" contract="DataServiceReference.IDataService" name="BasicHttpBinding_IDataService" />
    </client>

    <services>
      <service behaviorConfiguration="customServiceBehavior" name="Vogue2_IMS.DataService.DataService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfiguration"
          contract="Vogue2_IMS.DataService.IDataService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:7008/DataService" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="HttpEnableBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior name="customServiceBehavior">
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <!--<serviceThrottling maxConcurrentCalls="200" maxConcurrentInstances="30" maxConcurrentSessions="100" />
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentInstances="1000" maxConcurrentSessions="4000" />-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
  </system.serviceModel>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  
</configuration>