<?xml version="1.0"?>
<configuration>
  
  <connectionStrings>
    <add name="IMSContext" connectionString="Data Source=.;Initial Catalog=V2IMSDB;User Id=sa;Password=1qaz@WSX;"/>
  </connectionStrings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
