<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <root>
    <data name="AddOrRemove" value="添加或删除按钮(&amp;A)" />
 
    <data name="ResetBar" value="确定要对 '{0}' 工具栏所做的改动进行重置吗？" />
    
    <data name="ResetBarCaption" value="自定义" />
 
    <data name="ResetButton" value="重设工具栏(&amp;R)" />
 
    <data name="CustomizeButton" value="自定义...(&amp;C)" />
 
    <data name="ToolBarMenu" value="重新设定(&amp;R)$刪除(&amp;D)$!重新命名(&amp;N)$!默认格式(&amp;L)$全文字模式(&amp;T)$文字菜单(&amp;O)$图片及文字(&amp;A)$!启用组(&amp;G)$可见的(&amp;V)$最近使用的(&amp;M)" />
 
    <data name="NewToolbarName" value="工具" />
 
    <data name="NewMenuName" value="主菜单" />
 
    <data name="NewStatusBarName" value="状态栏" />
 
    <data name="NewToolbarCustomNameFormat" value="自定义{0}" />
 
    <data name="NewToolbarCaption" value="新建工具栏" />
 
    <data name="RenameToolbarCaption" value="重命名工具栏" />
 
    <data name="CustomizeWindowCaption" value="自定义" />
 
    <data name="MenuAnimationSystem" value="(系统默认值)" />
 
    <data name="MenuAnimationNone" value="无" />
 
    <data name="MenuAnimationSlide" value="片" />
 
    <data name="MenuAnimationFade" value="减弱" />
 
    <data name="MenuAnimationUnfold" value="展开" />
 
    <data name="MenuAnimationRandom" value="随机" />
 
    <data name="PopupMenuEditor" value="弹出菜单编辑器" />
 
    <data name="ToolbarNameCaption" value="工具栏名称(&amp;T)" />
 
    <data name="RibbonToolbarBelow" value="将快速访问工具栏显示在功能区下方(&amp;S)" />
 
    <data name="RibbonToolbarAbove" value="将快速访问工具栏显示在功能区上方(&amp;S)" />
 
    <data name="RibbonToolbarRemove" value="移除快速访问工具栏(&amp;R)" />
 
    <data name="RibbonToolbarAdd" value="添加快速访问工具栏(&amp;A)" />
 
    <data name="RibbonToolbarMinimizeRibbon" value="最小化功能区(&amp;N)" />
 
    <data name="RibbonGalleryFilter" value="所有组" />
 
    <data name="RibbonGalleryFilterNone" value="无" />
 
    <data name="BarUnassignedItems" value="(未设定项)" />
 
    <data name="BarAllItems" value="(所有项)" />
 
    <data name="RibbonUnassignedPages" value="(未设定页)" />
 
    <data name="RibbonAllPages" value="(所有页)" />
 
  </root>
</configuration>