<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <root>
      <data name="FileIsNotFoundError" value="文件{0}找不到"/>
    
      <data name="ColumnViewExceptionMessage" value="要修正当前值吗?"/>
    
      <data name="CustomizationCaption" value="自定义"/>
  
      <data name="CustomizationColumns" value="列"/>
  
      <data name="CustomizationBands" value="模块"/>
  
      <data name="PopupFilterAll" value="(全部)"/>
  
      <data name="PopupFilterCustom" value="(自定义)"/>
  
      <data name="PopupFilterBlanks" value="(空白)"/>
  
      <data name="PopupFilterNonBlanks" value="(无空白)"/>
  
      <data name="CustomFilterDialogFormCaption" value="用户自定义自动过滤器"/>
  
      <data name="CustomFilterDialogCaption" value="显示符合下列条件的行:"/>
  
      <data name="CustomFilterDialogRadioAnd" value="与(&amp;A)"/>
  
      <data name="CustomFilterDialogRadioOr" value="或(&amp;O)"/>
  
      <data name="CustomFilterDialogOkButton" value="确定(&amp;O)"/>
  
      <data name="CustomFilterDialogClearFilter" value="清除过滤器(&amp;L)"/>
  
      <data name="CustomFilterDialogCancelButton" value="取消(&amp;C)"/>
  
      <data name="CustomFilterDialog2FieldCheck" value="字段"/>
  
      <data name="CustomFilterDialogConditionEQU" value="等于"/>
  
      <data name="CustomFilterDialogConditionNEQ" value="不等于"/>
  
      <data name="CustomFilterDialogConditionGT" value="大于"/>
  
      <data name="CustomFilterDialogConditionGTE" value="大于或等于"/>
  
      <data name="CustomFilterDialogConditionLT" value="小于"/>
  
      <data name="CustomFilterDialogConditionLTE" value="小于或等于"/>
  
      <data name="CustomFilterDialogConditionBlanks" value="空白"/>
  
      <data name="CustomFilterDialogConditionNonBlanks" value="非空白"/>
  
      <data name="CustomFilterDialogConditionLike" value="近似于"/>
  
      <data name="CustomFilterDialogConditionNotLike" value="不相似"/>
  
      <data name="MenuFooterSum" value="和"/>
  
      <data name="MenuFooterMin" value="最小值"/>
  
      <data name="MenuFooterMax" value="最大值"/>
  
      <data name="MenuFooterCount" value="计数"/>
  
      <data name="MenuFooterAverage" value="平均值"/>
  
      <data name="MenuFooterNone" value="无"/>
  
      <data name="MenuFooterSumFormat" value="和={0:#.##}"/>
  
      <data name="MenuFooterMinFormat" value="最小值={0}"/>
  
      <data name="MenuFooterMaxFormat" value="最大值={0}"/>
  
      <data name="MenuFooterCountFormat" value="{0}"/>
  
      <data name="MenuFooterCountGroupFormat" value="计数={0}"/>
  
      <data name="MenuFooterAverageFormat" value="平均={0:#.##}"/>
  
      <data name="MenuFooterCustomFormat" value="统计值={0}"/>
  
      <data name="MenuColumnSortAscending" value="升序排列"/>
  
      <data name="MenuColumnSortDescending" value="降序排列"/>
  
      <data name="MenuColumnClearSorting" value="清除排序设置"/>
  
      <data name="MenuColumnGroup" value="根据此列分组"/>
  
      <data name="FilterPanelCustomizeButton" value="自定义"/>
  
      <data name="MenuColumnUnGroup" value="不分组"/>
  
      <data name="MenuColumnColumnCustomization" value="列选择"/>
  
      <data name="MenuColumnBestFit" value="最佳匹配"/>
  
      <data name="MenuColumnFilter" value="允许筛选数据"/>
  
      <data name="MenuColumnFilterEditor" value="设定数据筛选条件"/>
  
      <data name="MenuColumnClearFilter" value="清除过滤器"/>
  
      <data name="MenuColumnBestFitAllColumns" value="最佳匹配(所有列)"/>
  
      <data name="MenuGroupPanelFullExpand" value="全部展开"/>
  
      <data name="MenuGroupPanelFullCollapse" value="全部收合"/>
  
      <data name="MenuGroupPanelClearGrouping" value="清除分组"/>
  
      <data name="PrintDesignerBandedView" value="打印设置 (Banded View)"/>
  
      <data name="PrintDesignerGridView" value="打印设置(网格视图)"/>
  
      <data name="PrintDesignerCardView" value="打印设置(卡视图)"/>
  
      <data name="PrintDesignerBandHeader" value="起始带宽"/>
  
      <data name="PrintDesignerDescription" value="为当前视图设置不同的打印选项"/>
  
      <data name="MenuColumnGroupBox" value="分组依据框"/>
  
      <data name="CardViewNewCard" value="新建卡"/>
  
      <data name="CardViewQuickCustomizationButton" value="自定义"/>
  
      <data name="CardViewQuickCustomizationButtonFilter" value="过滤器　"/>
  
      <data name="CardViewQuickCustomizationButtonSort" value="排序方式:"/>
  
      <data name="GridGroupPanelText" value="拖动列标题至此,根据该列分组"/>
  
      <data name="GridNewRowText" value="在此处添加一行"/>
  
      <data name="FilterBuilderOkButton" value="确定(&amp;O)"/>
  
      <data name="FilterBuilderCancelButton" value="取消(&amp;C)"/>
  
      <data name="FilterBuilderApplyButton" value="应用(&amp;A)"/>
  
      <data name="FilterBuilderCaption" value="数据筛选条件设定："/>
  
      <data name="GridOutlookIntervals" value="更早;上个月;本月初;三周之前;两周之前;上周;;;;;;;;昨天;今天;明天;;;;;;;;下周;两周后;三周后;本月底;下个月;一个月之后;"/>
  
      <data name="CardViewCaptionFormat" value="记录 N {0}"/>
  
      <data name="CustomFilterDialogEmptyOperator" value="(选择一个操作)"/>
  
      <data name="CustomFilterDialogEmptyValue" value="(输入一个值)"/>
  
      <data name="CustomFilterDialogHint" value="用 _ 替代一个单字符#用 % 替代其他任何类型的字符"/>
  
      <data name="CustomizationFormBandHint" value="在此拖拉条来定制布局"/>
  
      <data name="CustomizationFormColumnHint" value="在此拖拉列来定制布局"/>
  
      <data name="LayoutModifiedWarning" value="布局已被更改，确定要保存更改吗？"/>
  
      <data name="LayoutViewButtonApply" value="应用(&amp;A)"/>
  
      <data name="LayoutViewButtonCancel" value="取消(&amp;C)"/>
  
      <data name="LayoutViewButtonCustomizeHide" value="隐藏自定义(&amp;z)"/>
  
      <data name="LayoutViewButtonCustomizeShow" value="显示自定义(&amp;S)"/>
  
      <data name="LayoutViewButtonLoadLayout" value="加载面板(&amp;L)..."/>
  
      <data name="LayoutViewButtonOk" value="确定(&amp;O)"/>
  
      <data name="LayoutViewButtonPreview" value="显示更多卡(&amp;M)"/>
  
      <data name="LayoutViewButtonReset" value="重置卡模板(&amp;R)"/>
  
      <data name="LayoutViewButtonSaveLayout" value="保存版面...(&amp;v)"/>
  
      <data name="LayoutViewButtonShrinkToMinimum" value="收缩卡模板(&amp;S)"/>
  
      <data name="LayoutViewCardCaptionFormat" value="记录[{0} / {1}]"/>
  
      <data name="LayoutViewCarouselModeBtnHint" value="旋转模式"/>
  
      <data name="LayoutViewCloseZoomBtnHintClose" value="还原视图"/>
  
      <data name="LayoutViewCloseZoomBtnHintZoom" value="最大化详细信息"/>
  
      <data name="LayoutViewColumnModeBtnHint" value="一个栏位"/>
  
      <data name="LayoutViewCustomizationFormCaption" value="自定义查看面板"/>
  
      <data name="LayoutViewCustomizationFormDescription" value="通过拖放自定义卡面板和菜单，并且可在查看面板中预览数据."/>
  
      <data name="LayoutViewCustomizeBtnHint" value="自定义"/>
  
      <data name="LayoutViewFieldCaptionFormat" value="{0}:"/>
  
      <data name="LayoutViewGroupCaptions" value="主题"/>
  
      <data name="LayoutViewGroupCards" value="卡"/>
  
      <data name="LayoutViewGroupCustomization" value="自定义"/>
  
      <data name="LayoutViewGroupFields" value="区域"/>
  
      <data name="LayoutViewGroupHiddenItems" value="隐藏项"/>
  
      <data name="LayoutViewGroupIndents" value="缩进"/>
  
      <data name="LayoutViewGroupIntervals" value="间隔"/>
  
      <data name="LayoutViewGroupLayout" value="布局"/>
  
      <data name="LayoutViewGroupPropertyGrid" value="属性栅格"/>
  
      <data name="LayoutViewGroupTreeStructure" value="树形布局查看"/>
  
      <data name="LayoutViewGroupView" value="查看"/>
  
      <data name="LayoutViewLabelAllowFieldHotTracking" value="允许热跟踪"/>
  
      <data name="LayoutViewLabelCaptionLocation" value="区域主题位置"/>
  
      <data name="LayoutViewLabelCardArrangeRule" value="排列规则:"/>
  
      <data name="LayoutViewLabelCardEdgeAlignment" value="卡边缘对齐方式:"/>
  
      <data name="LayoutViewLabelGroupCaptionLocation" value="组标题位置:"/>
  
      <data name="LayoutViewLabelHorizontal" value="水平间隔"/>
  
      <data name="LayoutViewLabelPadding" value="填充"/>
  
      <data name="LayoutViewLabelScrollVisibility" value="滚动条可见:"/>
  
      <data name="LayoutViewLabelShowCardBorder" value="显示边界"/>
  
      <data name="LayoutViewLabelShowCardCaption" value="显示标题"/>
  
      <data name="LayoutViewLabelShowCardExpandButton" value="显示展开按钮"/>
  
      <data name="LayoutViewLabelShowFieldBorder" value="显示边界"/>
  
      <data name="LayoutViewLabelShowFieldHint" value="显示提示"/>
  
      <data name="LayoutViewLabelShowFilterPanel" value="显示过滤面板"/>
  
      <data name="LayoutViewLabelShowHeaderPanel" value="显示表头面板"/>
  
      <data name="LayoutViewLabelShowLines" value="显示线条"/>
  
      <data name="LayoutViewLabelSpacing" value="间距"/>
  
      <data name="LayoutViewLabelTextAlignment" value="文本对其方式:"/>
  
      <data name="LayoutViewLabelTextIndent" value="文本缩进"/>
  
      <data name="LayoutViewLabelVertical" value="垂直间隔"/>
  
      <data name="LayoutViewLabelViewMode" value="查看模式"/>
  
      <data name="LayoutViewMultiColumnModeBtnHint" value="多列"/>
  
      <data name="LayoutViewMultiRowModeBtnHint" value="多行"/>
  
      <data name="LayoutViewPageTemplateCard" value="模板卡"/>
  
      <data name="LayoutViewPageViewLayout" value="查看版面"/>
  
      <data name="LayoutViewPanBtnHint" value="面板"/>
  
      <data name="LayoutViewRowModeBtnHint" value="单行"/>
  
      <data name="LayoutViewSingleModeBtnHint" value="单卡"/>
  
      <data name="MenuColumnGroupSummarySortFormat" value="{1} 依照 - '{0}' - {2}"/>
  
      <data name="MenuColumnRemoveColumn" value="移除列"/>
  
      <data name="MenuColumnResetGroupSummarySort" value="清除摘要排序"/>
  
      <data name="MenuColumnShowColumn" value="显示列"/>
  
      <data name="MenuColumnSortGroupBySummaryMenu" value="按摘要排序"/>
  
      <data name="PrintDesignerLayoutView" value="打印设置(版面视图)"/>

    <data name="MenuGroupPanelHide" value="隐藏分组(面板)"/>
    <data name="MenuGroupPanelShow" value="显示分组(面板)"/>
    <data name="MenuColumnFindFilterShow" value="显示查找(面板)"/>
    <data name="MenuColumnFindFilterHide" value="隐藏查找(面板)"/>
    <data name="MenuColumnAutoFilterRowShow" value="显示过滤(行)"/>
    <data name="MenuColumnAutoFilterRowHide" value="隐藏过滤(行)"/>

    <data name="FindControlFindButton" value="查找(&amp;F)"/>
    <data name="FindControlClearButton" value="清空(&amp;D)"/>

    <data name="MenuColumnBandCustomization" value="列 | 模块选择器"/>

    

  </root>
</configuration>