<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <root>
    <data name="MenuColumnBestFit" value="最佳匹配" />
 
    <data name="PrintDesignerHeader" value="打印设置" />
 
    <data name="ColumnCustomizationText" value="自定义" />
 
    <data name="MenuFooterMin" value="最小值" />
 
    <data name="MenuFooterMax" value="最大值" />
 
    <data name="MenuFooterSum" value="和" />
 
    <data name="MenuFooterAllNodes" value="所有节点" />
 
    <data name="MenuFooterCount" value="计数" />
 
    <data name="MenuColumnSortAscending" value="升序排列" />
 
    <data name="MenuFooterNone" value="无" />
 
    <data name="MenuColumnSortDescending" value="降序排列" />
 
    <data name="PrintDesignerDescription" value="为当前的树状列表设置不同的打印选项" />
 
    <data name="MenuColumnBestFitAllColumns" value="最佳匹配 (所有列)" />
 
    <data name="MenuFooterAverageFormat" value="平均值={0:#.##}" />
 
    <data name="ColumnNamePrefix" value="列" />
 
    <data name="MenuFooterMinFormat" value="最小值={0}" />
 
    <data name="MenuFooterCountFormat" value="{0}" />
 
    <data name="MenuColumnColumnCustomization" value="列选择" />
 
    <data name="MenuFooterMaxFormat" value="最大值={0}" />
 
    <data name="MenuFooterSumFormat" value="和={0:#.##}" />
 
    <data name="MultiSelectMethodNotSupported" value="OptionsBehavior.MultiSelect未激活时，指定方法不能工作." />
 
    <data name="InvalidNodeExceptionText" value=" 要修正当前值吗?" />
 
    <data name="MenuFooterAverage" value="平均值" />
 
  </root>
</configuration>