<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <root>
    <data name="PictureEditMenuCut" value="剪切"/>
    <data name="PictureEditMenuCopy" value="复制"/>
    <data name="PictureEditMenuPaste" value="粘贴"/>
    <data name="PictureEditMenuDelete" value="删除"/>
    <data name="PictureEditMenuLoad" value="加载"/>
    <data name="PictureEditMenuSave" value="保存"/>

    <data name="TextEditMenuCut" value="剪切"/>
    <data name="TextEditMenuCopy" value="复制"/>
    <data name="TextEditMenuPaste" value="粘贴"/>
    <data name="TextEditMenuDelete" value="删除"/>
    <data name="TextEditMenuSelectAll" value="全选"/>
    <data name="TextEditMenuUndo" value="返回"/>

    <data name="DateEditToday" value="今天"/>
    <data name="DateEditClear" value="取消"/>

    <data name="NavigatorTextStringFormat" value="记录 {0} / {1}"/>
    <data name="ProgressCancel" value="取消"/>
    <data name="ColorTabCustom" value="普通"/>
    <data name="ColorTabWeb" value="网页"/>
    <data name="ColorTabSystem" value="系统"/>
    <data name="CheckChecked" value="已选中"/>
    <data name="CheckUnchecked" value="未选中"/>

    <data name="CheckUnchecked" value="未选中"/>
    <data name="ProgressCreateDocument" value="创建文档中...."/>

    <data name="ProgressExport" value="导出中...."/>
    <data name="FilterGroupAnd" value="并且"/>
    <data name="FilterClauseBeginsWith" value="以..开始"/>
    <data name="FilterEmptyEnter" value="[输入值]"/>
    <data name="FilterClauseEquals" value="等于"/>
    <data name="FilterClauseDoesNotEqual" value="不等于"/>
    <data name="FilterClauseGreater" value="大于"/>
    <data name="FilterClauseGreaterOrEqual" value="大于或者等于"/>
    <data name="FilterClauseLess" value="小于"/>
    <data name="FilterClauseLessOrEqual" value="小于或者等于"/>
    <data name="FilterClauseBetween" value="在..之中"/>
    <data name="FilterClauseNotBetween" value="不在..之中"/>
    <data name="FilterClauseContains" value="包含"/>
    <data name="FilterClauseDoesNotContain" value="不包含"/>
    <data name="FilterClauseBeginsWith" value="以..开始"/>
    <data name="FilterClauseEndsWith" value="以..结束"/>
    <data name="FilterClauseLike" value="像..一样"/>
    <data name="FilterClauseNotLike" value="不像..一样"/>
    <data name="FilterClauseIsNull" value="为空"/>
    <data name="FilterClauseIsNotNull" value="不为空"/>
    <data name="FilterClauseAnyOf" value="所有"/>
    <data name="FilterClauseNoneOf" value="一个都没有"/>
    <data name="FilterGroupOr" value="或者"/>
    <data name="FilterGroupNotAnd" value="并且不"/>
    <data name="FilterGroupNotOr" value="或者不"/>
    <data name="FilterMenuConditionAdd" value="添加条件"/>
    <data name="FilterMenuGroupAdd" value="添加条件组"/>
    <data name="FilterMenuClearAll" value="清除所有条件"/>
    <data name="FilterToolTipNodeAdd" value="为当组添加新条件"/>
    <data name="FilterToolTipKeysAdd" value="(使用插入或者添加值)"/>

    <data name="LookUpEditValueIsNull" value="[值为空]"/>

    <data name='None' value=''/>
    <data name='CaptionError' value='错误'/>
    <data name='InvalidValueText' value='无效值'/>
    <data name='CheckIndeterminate' value='模糊'/>
    <data name='OK' value='是'/>
    <data name='Cancel' value='否'/>
    <data name='NavigatorFirstButtonHint' value='最前'/>
    <data name='NavigatorPreviousButtonHint' value='向前'/>
    <data name='NavigatorPreviousPageButtonHint' value='上一页'/>
    <data name='NavigatorNextButtonHint' value='向后'/>
    <data name='NavigatorNextPageButtonHint' value='下一页'/>
    <data name='NavigatorLastButtonHint' value='最后'/>
    <data name='NavigatorAppendButtonHint' value='附加'/>
    <data name='NavigatorRemoveButtonHint' value='删除'/>
    <data name='NavigatorEditButtonHint' value='编辑'/>
    <data name='NavigatorEndEditButtonHint' value='结束编辑'/>
    <data name='NavigatorCancelEditButtonHint' value='取消编辑'/>
    <data name='PictureEditOpenFileFilter' value='BMP (*.bmp)|*.bmp|GIF (*.gif)|*.gif|JPEG (*.jpg;*.jpeg)|*.jpg;*.jpeg|ICON 

(*.ico)|*.ico|所有图片文件 |*.bmp;*.gif;*.jpg;*.jpeg;*.ico;*.png;*.tif|所有文件 |*.*'/>
    <data name='PictureEditSaveFileFilter' value='BMP (*.bmp)|*.bmp|GIF (*.gif)|*.gif|JPEG  (*.jpg)|*.jpg'/>
    <data name='PictureEditOpenFileTitle' value='打开'/>
    <data name='PictureEditSaveFileTitle' value='另存为'/>
    <data name='PictureEditOpenFileError' value='错误的图片格式'/>
    <data name='PictureEditOpenFileErrorCaption' value='打开出错'/>
    <data name='PictureEditCopyImageError' value='不能复制图片'/>
    <data name='LookUpInvalidEditValueType' value='无效值类型.'/>
    <data name='LookUpColumnDefaultName' value='名称'/>
    <data name='MaskBoxValidateError' value='输入结果不完整，是否调整?

是 - 返回编辑.
否 - 使用此结果.
取消 - 还原结果.
'/>
    <data name='UnknownPictureFormat' value='未知的图片长期'/>
    <data name='DataEmpty' value='没有图片数据'/>
    <data name='NotValidArrayLength' value='无效的数组长度.'/>
    <data name='ImagePopupEmpty' value='(空)'/>
    <data name='ImagePopupPicture' value='(图片)'/>
    <data name='CalcButtonMC' value='MC'/>
    <data name='CalcButtonMR' value='MR'/>
    <data name='CalcButtonMS' value='MS'/>
    <data name='CalcButtonMx' value='M+'/>
    <data name='CalcButtonSqrt' value='sqrt'/>
    <data name='CalcButtonBack' value='Back'/>
    <data name='CalcButtonCE' value='CE'/>
    <data name='CalcButtonC' value='C'/>
    <data name='CalcError' value='计算失败'/>
    <data name='TabHeaderButtonPrev' value='向左滚动'/>
    <data name='TabHeaderButtonNext' value='向右滚动'/>
    <data name='TabHeaderButtonClose' value='关闭'/>
    <data name='XtraMessageBoxOkButtonText' value='确定'/>
    <data name='XtraMessageBoxCancelButtonText' value='取消'/>
    <data name='XtraMessageBoxYesButtonText' value='是'/>
    <data name='XtraMessageBoxNoButtonText' value='否'/>
    <data name='XtraMessageBoxAbortButtonText' value='中止'/>
    <data name='XtraMessageBoxRetryButtonText' value='重试'/>
    <data name='XtraMessageBoxIgnoreButtonText' value='忽略'/>
    <data name='FilterEditorTabText' value='文本'/>
    <data name='FilterEditorTabVisual' value='皮肤'/>
    <data name='FilterShowAll' value='(选中所有)'/>
    <data name='FilterClauseBetweenAnd' value='并且'/>
    <data name='FilterEmptyParameter' value='[输入一个参数]'/>
    <data name='FilterMenuAddNewParameter' value='添加一个参数 ...'/>
    <data name='FilterEmptyValue' value='[空]'/>
    <data name='FilterMenuRowRemove' value='移除组'/>
    <data name='FilterToolTipNodeRemove' value='移除当前条件'/>
    <data name='FilterToolTipNodeAction' value='事件'/>
    <data name='FilterToolTipValueType' value='比较值 / 其它字段值'/>
    <data name='FilterToolTipElementAdd' value='向列表中添加对象'/>
    <data name='FilterToolTipKeysRemove' value='(使用删除键)'/>
    <data name='ContainerAccessibleEditName' value='控件编辑中....'/>
    <data name='FilterCriteriaToStringGroupOperatorAnd' value='并且'/>
    <data name='FilterCriteriaToStringGroupOperatorOr' value='或者'/>
    <data name='FilterCriteriaToStringUnaryOperatorBitwiseNot' value='~'/>
    <data name='FilterCriteriaToStringUnaryOperatorIsNull' value='为空'/>
    <data name='FilterCriteriaToStringUnaryOperatorMinus' value='-'/>
    <data name='FilterCriteriaToStringUnaryOperatorNot' value='不是'/>
    <data name='FilterCriteriaToStringUnaryOperatorPlus' value='+'/>
    <data name='FilterCriteriaToStringBinaryOperatorBitwiseAnd' value='并且'/>
    <data name='FilterCriteriaToStringBinaryOperatorBitwiseOr' value='|'/>
    <data name='FilterCriteriaToStringBinaryOperatorBitwiseXor' value='^'/>
    <data name='FilterCriteriaToStringBinaryOperatorDivide' value='/'/>
    <data name='FilterCriteriaToStringBinaryOperatorEqual' value='='/>
    <data name='FilterCriteriaToStringBinaryOperatorGreater' value='大于'/>
    <data name='FilterCriteriaToStringBinaryOperatorGreaterOrEqual' value='大于等于'/>
    <data name='FilterCriteriaToStringBinaryOperatorLess' value='小于'/>
    <data name='FilterCriteriaToStringBinaryOperatorLessOrEqual' value='小于等于'/>
    <data name='FilterCriteriaToStringBinaryOperatorLike' value='类型'/>
    <data name='FilterCriteriaToStringBinaryOperatorMinus' value='-'/>
    <data name='FilterCriteriaToStringBinaryOperatorModulo' value='%'/>
    <data name='FilterCriteriaToStringBinaryOperatorMultiply' value='*'/>
    <data name='FilterCriteriaToStringBinaryOperatorNotEqual' value='不等于'/>
    <data name='FilterCriteriaToStringBinaryOperatorPlus' value='+'/>
    <data name='FilterCriteriaToStringBetween' value='在..之间'/>
    <data name='FilterCriteriaToStringIn' value='包含在'/>
    <data name='FilterCriteriaToStringIsNotNull' value='不为空'/>
    <data name='FilterCriteriaToStringNotLike' value='不类似'/>
    <data name='FilterCriteriaToStringFunctionIif' value='如果'/>
    <data name='FilterCriteriaToStringFunctionIsNull' value='是空'/>
    <data name='FilterCriteriaToStringFunctionLen' value='长度'/>
    <data name='FilterCriteriaToStringFunctionLower' value='小写'/>
    <data name='FilterCriteriaToStringFunctionNone' value='空'/>
    <data name='FilterCriteriaToStringFunctionSubstring' value='子符串'/>
    <data name='FilterCriteriaToStringFunctionTrim' value='清除空格'/>
    <data name='FilterCriteriaToStringFunctionUpper' value='大写'/>
    <data name='FilterCriteriaToStringFunctionLocalDateTimeThisYear' value='今年'/>
    <data name='FilterCriteriaToStringFunctionLocalDateTimeThisMonth' value='当月'/>
    <data name='FilterCriteriaToStringFunctionLocalDateTimeLastWeek' value='最后一周'/>
    <data name='FilterCriteriaToStringFunctionLocalDateTimeThisWeek' value='本周'/>
    <data name='FilterCriteriaToStringFunctionLocalDateTimeYesterday' value='去年'/>
    <data name='FilterCriteriaToStringFunctionLocalDateTimeToday' value='今天'/>
    <data name='FilterCriteriaToStringFunctionLocalDateTimeNow' value='现在'/>
    <data name='FilterCriteriaToStringFunctionLocalDateTimeTomorrow' value='明天'/>
    <data name='FilterCriteriaToStringFunctionLocalDateTimeDayAfterTomorrow' value='后天'/>
    <data name='FilterCriteriaToStringFunctionLocalDateTimeNextWeek' value='下周'/>
    <data name='FilterCriteriaToStringFunctionLocalDateTimeTwoWeeksAway' value='两周后'/>
    <data name='FilterCriteriaToStringFunctionLocalDateTimeNextMonth' value='下月'/>
    <data name='FilterCriteriaToStringFunctionLocalDateTimeNextYear' value='明年'/>
    <data name='FilterCriteriaToStringFunctionIsOutlookIntervalBeyondThisYear' value='上半年'/>
    <data name='FilterCriteriaToStringFunctionIsOutlookIntervalLaterThisYear' value='下半年'/>
    <data name='FilterCriteriaToStringFunctionIsOutlookIntervalLaterThisMonth' value='下旬'/>
    <data name='FilterCriteriaToStringFunctionIsOutlookIntervalNextWeek' value='是下周'/>
    <data name='FilterCriteriaToStringFunctionIsOutlookIntervalLaterThisWeek' value='下半周'/>
    <data name='FilterCriteriaToStringFunctionIsOutlookIntervalTomorrow' value='是明天'/>
    <data name='FilterCriteriaToStringFunctionIsOutlookIntervalToday' value='是今天'/>
    <data name='FilterCriteriaToStringFunctionIsOutlookIntervalYesterday' value='是去年'/>
    <data name='FilterCriteriaToStringFunctionIsOutlookIntervalEarlierThisWeek' value='本周早些'/>
    <data name='FilterCriteriaToStringFunctionIsOutlookIntervalLastWeek' value='是上周'/>
    <data name='FilterCriteriaToStringFunctionIsOutlookIntervalEarlierThisMonth' value='本月早些'/>
    <data name='FilterCriteriaToStringFunctionIsOutlookIntervalEarlierThisYear' value='上半年'/>
    <data name='FilterCriteriaToStringFunctionIsOutlookIntervalPriorThisYear' value='今年之前'/>
    <data name='FilterCriteriaToStringFunctionCustom' value='自定义'/>
    <data name='FilterCriteriaToStringFunctionCustomNonDeterministic' value='不确定的自定义格式'/>
    <data name='FilterCriteriaToStringFunctionIsNullOrEmpty' value='是否为空'/>
    <data name='FilterCriteriaToStringFunctionConcat' value='拼接'/>
    <data name='FilterCriteriaToStringFunctionAscii' value='Ascii'/>
    <data name='FilterCriteriaToStringFunctionChar' value='字符'/>
    <data name='FilterCriteriaToStringFunctionToStr' value='转换为字符串'/>
    <data name='FilterCriteriaToStringFunctionReplace' value='替换'/>
    <data name='FilterCriteriaToStringFunctionReverse' value='反向'/>
    <data name='FilterCriteriaToStringFunctionInsert' value='插入'/>
    <data name='FilterCriteriaToStringFunctionCharIndex' value='字符索引'/>
    <data name='FilterCriteriaToStringFunctionRemove' value='移除'/>
    <data name='FilterCriteriaToStringFunctionAbs' value='Abs'/>
    <data name='FilterCriteriaToStringFunctionSqr' value='Sqr'/>
    <data name='FilterCriteriaToStringFunctionCos' value='Cos'/>
    <data name='FilterCriteriaToStringFunctionSin' value='Sin'/>
    <data name='FilterCriteriaToStringFunctionAtn' value='Atn'/>
    <data name='FilterCriteriaToStringFunctionExp' value='Exp'/>
    <data name='FilterCriteriaToStringFunctionLog' value='Log'/>
    <data name='FilterCriteriaToStringFunctionRnd' value='Rnd'/>
    <data name='FilterCriteriaToStringFunctionTan' value='Tan'/>
    <data name='FilterCriteriaToStringFunctionPower' value='Power'/>
    <data name='FilterCriteriaToStringFunctionSign' value='Sign'/>
    <data name='FilterCriteriaToStringFunctionRound' value='Round'/>
    <data name='FilterCriteriaToStringFunctionCeiling' value='Ceiling'/>
    <data name='FilterCriteriaToStringFunctionFloor' value='Floor'/>
    <data name='FilterCriteriaToStringFunctionMax' value='MAX'/>
    <data name='FilterCriteriaToStringFunctionMin' value='MIN'/>
    <data name='FilterCriteriaToStringFunctionAcos' value='Acos'/>
    <data name='FilterCriteriaToStringFunctionAsin' value='Asin'/>
    <data name='FilterCriteriaToStringFunctionAtn2' value='Atn2'/>
    <data name='FilterCriteriaToStringFunctionBigMul' value='Big mul'/>
    <data name='FilterCriteriaToStringFunctionCosh' value='Cosh'/>
    <data name='FilterCriteriaToStringFunctionLog10' value='Log10'/>
    <data name='FilterCriteriaToStringFunctionSinh' value='Sinh'/>
    <data name='FilterCriteriaToStringFunctionTanh' value='Tanh'/>
    <data name='FilterCriteriaToStringFunctionPadLeft' value='左面填充'/>
    <data name='FilterCriteriaToStringFunctionPadRight' value='右侧填充'/>
    <data name='FilterCriteriaToStringFunctionDateDiffTick' value='刻日期差异'/>
    <data name='FilterCriteriaToStringFunctionDateDiffSecond' value='秒日期差异'/>
    <data name='FilterCriteriaToStringFunctionDateDiffMilliSecond' value='毫秒的日期差异'/>
    <data name='FilterCriteriaToStringFunctionDateDiffMinute' value='分日期差异'/>
    <data name='FilterCriteriaToStringFunctionDateDiffHour' value='时日期差异'/>
    <data name='FilterCriteriaToStringFunctionDateDiffDay' value='天日期差异'/>
    <data name='FilterCriteriaToStringFunctionDateDiffMonth' value='月日期差异'/>
    <data name='FilterCriteriaToStringFunctionDateDiffYear' value='年日期差异'/>
    <data name='FilterCriteriaToStringFunctionGetDate' value='获取日期'/>
    <data name='FilterCriteriaToStringFunctionGetMilliSecond' value='获取毫秒'/>
    <data name='FilterCriteriaToStringFunctionGetSecond' value='获取秒'/>
    <data name='FilterCriteriaToStringFunctionGetMinute' value='获取分'/>
    <data name='FilterCriteriaToStringFunctionGetHour' value='获取小时'/>
    <data name='FilterCriteriaToStringFunctionGetDay' value='获取日'/>
    <data name='FilterCriteriaToStringFunctionGetMonth' value='获取月'/>
    <data name='FilterCriteriaToStringFunctionGetYear' value='获取年'/>
    <data name='FilterCriteriaToStringFunctionGetDayOfWeek' value='获取星期'/>
    <data name='FilterCriteriaToStringFunctionGetDayOfYear' value='获取日期'/>
    <data name='FilterCriteriaToStringFunctionGetTimeOfDay' value='获取时间'/>
    <data name='FilterCriteriaToStringFunctionNow' value='现在'/>
    <data name='FilterCriteriaToStringFunctionUtcNow' value='Utc 现在'/>
    <data name='FilterCriteriaToStringFunctionToday' value='今天'/>
    <data name='FilterCriteriaToStringFunctionAddTimeSpan' value='添加时间段'/>
    <data name='FilterCriteriaToStringFunctionAddTicks' value='添加刻钟'/>
    <data name='FilterCriteriaToStringFunctionAddMilliSeconds' value='添加毫秒'/>
    <data name='FilterCriteriaToStringFunctionAddSeconds' value='添加秒'/>
    <data name='FilterCriteriaToStringFunctionAddMinutes' value='添加分钟'/>
    <data name='FilterCriteriaToStringFunctionAddHours' value='添加小时'/>
    <data name='FilterCriteriaToStringFunctionAddDays' value='添加日'/>
    <data name='FilterCriteriaToStringFunctionAddMonths' value='添加月'/>
    <data name='FilterCriteriaToStringFunctionAddYears' value='添加年'/>
    <data name='FilterCriteriaToStringFunctionStartsWith' value=''/>
    <data name='FilterCriteriaToStringFunctionEndsWith' value=''/>
    <data name='FilterCriteriaToStringFunctionContains' value=''/>
    <data name='FilterCriteriaInvalidExpression' value='指定的表达式包含无效字符 (行 {0}, 字符 

{1}).'/>
    <data name='FilterCriteriaInvalidExpressionEx' value='指定的表达式无效.'/>
    <data name='Apply' value='应用'/>
    <data name='PreviewPanelText' value='预览:'/>
    <data name='TransparentBackColorNotSupported' value='控件不支持透明度'/>
    <data name='FilterOutlookDateText' value='显示所有|显示空|指定日期进行过滤:|今年前|今年后|

本月后|下周|本周后|明天|今天|昨天|上半周|最后一周|上半月|上半年|前一年'/>
    <data name='FilterDateTimeConstantMenuCaption' value='日期和时间常数'/>
    <data name='FilterDateTimeOperatorMenuCaption' value='日期和时间管理者'/>
    <data name='FilterDateTextAlt' value='显示所有|显示空|指定日期进行过滤:|超过|||下个星期|今天|这个星期|这个月|以前的|{0:yyyy}, 

{0:MMMM}'/>
    <data name='FilterFunctionsMenuCaption' value=''/>
    <data name='DefaultBooleanTrue' value='是'/>
    <data name='DefaultBooleanFalse' value='否'/>
    <data name='DefaultBooleanDefault' value='默认'/>
    <data name='ProgressExport' value='导出中....'/>
    <data name='ProgressPrinting' value='打印中....'/>
    <data name='ProgressCreateDocument' value='创建文档中....'/>
    <data name='ProgressCancel' value='取消'/>
    <data name='ProgressCancelPending' value='取消等待中....'/>
    <data name='ProgressLoadingData' value='加载数据中...'/>
    <data name='FilterAggregateAvg' value='求平均值'/>
    <data name='FilterAggregateCount' value='求个数'/>
    <data name='FilterAggregateExists' value='存在'/>
    <data name='FilterAggregateMax' value='最大'/>
    <data name='FilterAggregateMin' value='最小'/>
    <data name='FilterAggregateSum' value='求和'/>


  </root>
</configuration>