<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <root>
    <data name="NavPaneMenuAddRemoveButtons" value="添加或删除按钮（&amp;A）"/>
 
    <data name="NavPaneMenuShowMoreButtons" value="显示更多按钮（&amp;M）"/>
 
    <data name="NavPaneChevronHint" value="配置按钮"/>

    <data name="NavPaneMenuShowFewerButtons" value="显示少量按钮（&amp;F）"/> 
  </root>
</configuration>